div.dropdown-wrapper {
  width: 50%;
}

div.dropdown-button {
  background-color: cadetblue;

  width: 100%;
  display: flex;
  justify-content: center;
}

div.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown-content.selected {
  background-color: red;
}
