div.dropdown-wrapper {
  width: 50%;

  cursor: pointer;
}

div.dropdown-button {
  background-color: cadetblue;
  border-radius: 10px 10px 10px 10px;

  width: 100%;
  display: flex;
  justify-content: center;
}

div.dropdown-button.open {
  border-radius: 10px 10px 0px 0px;
}

div.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown-contentlist {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-contentlist > li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.dropdown-contentlist > li.dropdown-category {
  justify-content: flex-start;
  padding: 0px 10%;
  background-color: black;
  color: white;
  cursor: auto;
}
.dropdown-content {
  justify-content: center;
  background-color: rgb(212, 212, 212);
}
.dropdown-content:hover {
  background-color: whitesmoke;
}
.dropdown-content.selected {
  background-color: white;
}

.no-sound {
  width: 20px;
}
