div.dropdown-wrapper {
  min-width: 200px;
  cursor: pointer;
  position: relative;
  display: flex;
}

div.dropdown-button {
  background-color: cadetblue;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.dropdown-button::after {
  content: '▼';
  position: absolute;
  right: 0.5rem;
  font-size: 15px;
}

div.dropdown-button.open {
  border-radius: 5px 5px 0px 0px;
}

div.dropdown-button.open::after {
  content: '▲';
  position: absolute;
  right: 0.5rem;
}

div.dropdown {
  display: flex;
  justify-content: center;

  position: absolute;
  width: 100%;
  top: 100%;
}

.dropdown-contentlist {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.dropdown-contentlist li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.dropdown-contentlist li.dropdown-category {
  justify-content: flex-start;
  padding: 0px 10%;
  background-color: black;
  color: white;
  cursor: auto;
}
.dropdown-content {
  justify-content: center;
  background-color: rgb(212, 212, 212);
}
.dropdown-content:hover {
  background-color: whitesmoke;
}
.dropdown-content.selected {
  background-color: white;
}

/* .no-sound {
  width: 20px;
} */
